%btn {
  border: none;
  box-shadow: none;
  padding: 14px 30px;
  text-align: center;
  @include displayFlex($justify: center, $gap: 10px);
  width: fit-content;
  min-width: 260px;
  max-width: inherit;
  font-family: $AlghadFont;
}

// MAIN BUTTON OF WEBSITE
.main-link {
  width: fit-content;
  color: $mainColor;
  @include displayFlex($gap: 10px);
  transition: $transition3;

  i {
    width: 20px;
    aspect-ratio: 1;
    @include displayFlex($justify: center);
    color: $pageColor;
    background-color: $mainColor;
    border-radius: 50%;
    font-size: 8px;
  }

  &:hover {
    color: $mainColor;
    gap: 15px;
  }
}

.btn-primary {
  color: $whiteText;
  background-color: $mainColor;
  @extend %btn;

  &:hover,
  &:focus,
  &:active {
    background-color: rgba($mainColor, 0.95) !important;
  }
}

.btn-secondary {
  color: $whiteText;
  background-color: rgba($mainColor, 0.5);
  @extend %btn;

  &:hover,
  &:focus,
  &:active {
    background-color: rgba($mainColor, 0.45) !important;
  }
}

.btn-gray {
  color: $mainColor;
  background-color: $lightGrayColor;
  @extend %btn;
  padding: 10px 20px;
  justify-content: flex-start;
  min-width: 30%;
  font-size: 1.2rem;

  &:hover,
  &:focus,
  &:active {
    background-color: $lightMainColor !important;
  }

  .icon {
    height: 40px;
  }
}

.btn-green {
  background-color: rgba($color: #73af00, $alpha: 0.4);
  @extend %btn;
  min-width: 150px;

  &:hover,
  &:focus,
  &:active {
    background-color: rgba($color: #73af00, $alpha: 0.5) !important;
  }
}

.btn-red {
  background-color: rgba($color: #eb0000, $alpha: 0.4);
  @extend %btn;
  min-width: 150px;

  &:hover,
  &:focus,
  &:active {
    background-color: rgba($color: #eb0000, $alpha: 0.5) !important;
  }
}

.btn {
  &.sm {
    padding: 8px 20px;
    min-width: unset;
  }
}
