.static-page {
  .text {
    -webkit-line-clamp: unset;
  }

  &.complaint-details {
    .complaint-status {
      opacity: 0.3;
      padding-block: 5px;
      min-width: 200px;
      max-width: 100%;
      margin-inline: auto;
    }

    .details-sec {
      margin-block-end: 30px;

      .title {
        margin-block-end: 10px;
      }

      .text-card {
        background-color: rgba(67, 67, 67, 0.1);
        padding: 20px 10px;
        border-radius: 10px;
        font-size: 14px;
      }
    }
  }
}

.complaint-card {
  padding: 18px 12px;
  padding-inline-end: 20px;
  @include displayFlex($justify: space-between, $wrap: wrap);
  background-color: #f9f4f8;
  border-radius: 6px;

  .content {
    .date {
      color: $textColor;
    }
  }

  .btn {
    flex-shrink: 0;
  }
}
